body{
  background-color: #222222;
}

.bufferC{
	min-height: 55px;
}

.logoImg{
    height: 50%
}

.alinharTexto{
	text-align:center;
}

section {
	padding-top: 55px;
}

h2{
	color:#00BFF3 /*azul*/!important;
	font-family: Consolas,monaco,monospace;
	font-weight: bold;
}

.aboutText{
	color: #F06EAA !important;/*rosa*/
}

.contactText{
	color: #F06EAA !important;/*rosa*/
}

.margemEsq{
	height: 20px;
}

.margemDir{
	height: 20px;
}

#Contact{
	margin-bottom:14vh;
}